{% extends "../layout/template.twig" %}
{% block main %}
    <h1>{{ main }}</h1>
    <form method="POST" action="/profil/post" class="form row">
        <label for="login" class="col-12">
            <span class="badge badge-primary">1</span>Login :
        </label>
            <input type="text" class="col-12 text-center" name="login" id="login"
            placeholder="login" required/><br>
        <label class="col-12" for="mdp">
            <span class="badge badge-primary">2</span>Password :
        </label>
        <input class="col-12 text-center" type="password" name="mdp" id="mdp"
            placeholder="mot de passe" required/><br>
        <br>
        <button class="col-12 text-center" type="submit">
            <span class='badge badge-primary'>3</span>S'INDENTIFIER
        </button>
    </form>
{% endblock %}
